/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #b13646;
    --main-blue: #1ce272;
    --main-gray: #303841;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}


body{
    background: url("https://img.freepik.com/foto-gratis/textura-pared-estuco-azul-marino-relieve-decorativo-abstracto-grunge-fondo-color-rugoso-gran-angular_1258-28311.jpg?w=1380&t=st=1682837610~exp=1682838210~hmac=d0e0327842b5ba9432b9828776c5ecd0bc4b786f443bbb413c2ba184345d39d2") fixed no-repeat;
    background-size: cover; 
}

header, main{
    margin-left: 50px;
    margin-right: 50px;
}
header{
    padding-top: 30px;
}
main{
    padding-top: 40px;
}

h1, h2{
    color: azure;
    text-align: center;
}
a, u {
    text-decoration: none;
  }

.contenido-header h2{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.contenido-header{
    background-color: rgba(10, 10, 10, 0.642);
    padding-bottom: 30px;

}
.container-fluid{
    height: 50px;
    background-color: rgba(10, 10, 10);
}

.titulo-header{
    padding-top: 15px;
    color: rgb(0, 225, 255);
}
.texto-header{
    padding-top: 30px;
}
.container-body{
    background-color: rgba(10, 10, 10, 0.4);
}
.nav-link{
    color: rgb(238, 113, 206);
    font-size: 23px;
}
.nav-link:hover {
    color: rgb(248, 172, 49);
    font-size: 28px;
}
.titulo-header{
    text-align: center;
    padding-top:40px ;
}

.title-portafolio{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-label{
    color: azure;
}
.tamaño{
    height: 180px;
}

.py-1{
    background-color: rgba(10, 10, 10, 0.4);
    padding-top: 30px;
}
.card-tamaño{
    height: 240px;
}

.card-body-theme{
    height: 55px;
    background-color: rgba(0, 0, 6, 0.853);
}


.code {
    color: rgba(0, 0, 6, 0.853);
    transition: color 0.3s ease-out;
}

.project-title{
    color: rgb(162, 240, 240);
}

.project:hover .code {
    color: #ff50e2;
}

.project:hover .project-title{
    font-size: 22px;
}

.texto-header{
    outline: 20cm;
}



.icon{
    margin: auto;
    display: block;
    width: 50%;
    margin-top: 10px;
}
.icon_2{
    margin: auto;
    display: block;
    width: 100%;
}

.card-color-my{
    background-color: black;
}

  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background: var(--main-gray);
  }
  
  .contact-section-header1, .title-portafolio>h2 {
    margin-top: 30px;
    font-size: 4rem;
  }
  
  
  .contact-section-header2{
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    color: rgb(247, 75, 103);
  }
  
  .contact-details {
    font-size: 2.2rem;
    color:white;
    text-shadow: 2px 2px 1px black;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

   
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    width: 100%;
  }
  footer > a {
    color: #1ce272;
  }
  footer > a:hover {
    color: #e26e1c;
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  .contact-section-header2{
    color: white;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

@media (max-width: 40em) {
    .nav-link{
        font-size: 17px;
    }
    .nav-link:hover {
        font-size: 18px;
    }
    .project-title{
    font-size: 10px;
    color: rgb(162, 240, 240);
    }
    .project:hover .project-title{
        font-size: 10px;
    }
    .contact-details {
        font-size: 40px;
    }
}


@media (max-width: 65em) {
    .project-title{
        font-size: 13px;
        color: rgb(162, 240, 240);
    }
    .project:hover .project-title{
        font-size: 14px;
    }
    .contact-details {
        font-size: 1.3rem;
    }
    .contact-section-header1{
    font-size: 35px;
    }  
}




